<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../frontend/src/index.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <title>topbar</title>
    </head>
    <body>
        <div id="seller-view-page">
            <!-- include topbar -->
            <div id="seller-view-left">
                <input type="text" id="item-name-input" placeholder="Item name" />
                <textarea id="item-description-input" placeholder="Item description"></textarea>
                <div id="cat-select">
                    <input type="text" id="item-tag-input" placeholder="Categories" />
                    <button id="add-cat" ontouchstart>+</button>
                </div>
            </div>
            <div id="seller-view-right">
                <div id="item-image-div" class="file-area">Browse...<input type="file" /></div>
                <div id="cat-list">
                    <!-- category examples -->
                    <div class="cat btn">cat1</div>
                    <div class="cat btn">cat2</div>
                    <!-- end -->
                    <span id="cat-info">Click a tag to remove it</span>
                </div>
            </div>
            <input type="submit" id="item-submit-input" ontouchstart />
        </div>
    </body>
</html>