<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../frontend/src/index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <title>topbar</title>
  </head>
  <body>
    <form>
      <div id="seller-view-page">
        <!-- include topbar -->
        <div id="seller-view-left">
          <label>Item name:</label>
          <input type="text" name="item-name" placeholder="Item" />
          <label>Item Description:</label>
          <textarea
            name="item-description"
            placeholder="Description"
          ></textarea>
          <label>Categories:</label>
          <div id="cat-select">
            <label class="checkbox-container">
              <input type="checkbox" value="Technology" />
              <div class="checkbox">Technology</div>
            </label>
            <label class="checkbox-container">
              <input type="checkbox" value="School Supplies" />
              <div class="checkbox">School Supplies</div>
            </label>
            <label class="checkbox-container">
              <input type="checkbox" value="School Supplies" />
              <div class="checkbox">Course Materials</div>
            </label>
            <label class="checkbox-container">
              <input type="checkbox" value="School Supplies" />
              <div class="checkbox">Furniture</div>
            </label>
            <label class="checkbox-container">
              <input type="checkbox" value="School Supplies" />
              <div class="checkbox">Appliances</div>
            </label>
            <label class="checkbox-container">
              <input type="checkbox" value="School Supplies" />
              <div class="checkbox">Entertainment</div>
            </label>
            <label class="checkbox-container">
              <input type="checkbox" value="School Supplies" />
              <div class="checkbox">Miscellaneous</div>
            </label>
          </div>
        </div>
        <div id="item-image-browse" class="file-area btn">
          <img id="item-img" src="../frontend/src/no-image-icon-15.png"></img>
          <div id="item-img-txt">
            <span class="material-icons">upload</span>
            <span>Click to upload image</span>
          </div>
          <input type="file" accept="image/*" onchange="document.getElementById('item-img').src = window.URL.createObjectURL(this.files[0])" />
        </div>
        <input type="submit" id="item-submit-input" />
      </div>
    </form>
  </body>
</html>
