:root {
  --black: #333;
  --white: #ddd;
  --accent: #555;
  --gray: #888;
  --gap: 5px;
  --radius: 3px;
  --icon-size: 24px;
  --font: Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: var(--white);
  font-size: 1rem;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--black);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input,
textarea,
button {
  -webkit-appearance: none;
  font-size: 1rem;
  font-family: var(--font);
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-container {
  display: inline-block;
  position: relative;
  cursor: pointer;
  text-align: center;
  width: min-content;
}

.checkbox {
  display: block;
  position: relative;
  box-sizing: border-box;
  border: solid 1px var(--black);
  border-radius: var(--radius);
  background-color: var(--white);
  color: var(--black);
  text-align: center;
  padding: 0.5em 1em;
  min-width: 3em;
  white-space: pre;
  transition: background-color 0.1s, color 0.1s, border-color 0.1s;
}

@media (hover: hover) {
  .checkbox-container:hover input ~ .checkbox {
    background-color: var(--accent);
    border-color: var(--accent);
    color: var(--white);
  }
}

.checkbox-container:active input ~ .checkbox {
  background-color: var(--black);
  border-color: var(--black);
  color: var(--white);
}

.checkbox-container input:checked ~ .checkbox {
  background-color: var(--black);
  border-color: var(--black);
  color: var(--white);
}

input[type="text"],
textarea {
  font-family: var(--font);
  display: block;
  box-sizing: border-box;
  border: 1px solid var(--black);
  border-radius: var(--radius);
  padding: 0.5em;
  box-sizing: border-box;
  background-color: #fff;
}

input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: var(--white);
  cursor: inherit;
  display: block;
}

.file-area {
  position: relative;
  overflow: hidden;
}

input[type="button"],
input[type="submit"],
button,
.btn {
  box-sizing: border-box;
  padding: 0.5em 1em;
  border: solid 1px var(--black);
  border-radius: var(--radius);
  background-color: var(--black);
  color: var(--white);
  cursor: pointer;
  min-width: 3em;
  text-align: center;
  transition: background-color 0.1s, color 0.1s, border-color 0.1s;
}

@media (hover: hover) {
  input[type="button"]:hover,
  input[type="submit"]:hover,
  button:hover,
  .btn:hover {
    background-color: var(--accent);
    border-color: var(--accent);
  }
}

input[type="button"]:active,
input[type="submit"]:active,
button:active,
.btn:active {
  background-color: var(--white);
  color: var(--black);
  border-color: var(--black);
}

a:focus,
button:focus,
input:focus,
textarea:focus {
  outline: none;
}

a {
  -webkit-appearance: none;
  color: inherit;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#pg404 {
  margin-top: 2rem;
  font-size: 2rem;
}

#pg404 span {
  display: block;
  font-size: 3.8rem;
}

.usr-page {
  margin: calc(var(--gap) * 2) !important;
}

/* LOGIN */

#login-page {
  height: 100vh;
  display: grid;
  place-items: center;
}

#login-email {
  display: inline-block;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}

#login-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* TOPBAR */

#topbar {
  display: flex;
  width: 100%;
  color: var(--white);
  background-color: var(--black);
}

.user-page-link {
  display: inline-block;
  padding: 17px;
  color: inherit;
  text-decoration: none;
}

@media (hover: hover) {
  .user-page-link:hover,
  .user-page-link:active {
    background-color: var(--accent);
  }
}

#search-area {
  display: inline-block;
  flex: 1;
}

#search-bar {
  display: inline-block;
  width: 100%;
  padding: 0.5em;
  box-sizing: border-box;
}

#search-bar > input {
  width: 100%;
  max-width: 60ch;
}

.icon {
  position: absolute;
  height: var(--icon-size);
  border-radius: 50%;
  transform: translate(-5px, -4px);
}

/* SELLER VIEW :TODO: */

#seller-view-page {
  display: grid;
  margin: var(--gap);
  grid-template-columns: 2fr 1fr;
  gap: var(--gap);
  place-items: center;
  margin-top: var(--gap);
}

#item-submit-input {
  grid-auto-columns: auto;
  grid-column: 1 / span 2;
}

#cat-select > label {
  margin: var(--gap);
}

@media (max-width: 600px) {
  #seller-view-page {
    display: grid;
    margin: var(--gap);
    grid-template-columns: 1fr;
    gap: var(--gap);
    place-items: center;
    margin-top: var(--gap);
  }

  #item-submit-input {
    display: block;
    width: 100%;
  }

  #item-submit-input {
    grid-auto-columns: auto;
    grid-column: unset;
  }
}

#seller-view-left {
  display: grid;
  align-items: center;
  display: grid;
  gap: var(--gap);
  min-width: 60%;
}

#item-image-browse {
  padding: 0.5em;
}

#item-image-browse > img {
  display: block;
  aspect-ratio: 1;
  border-radius: var(--radius);
  background-color: var(--accent);
  min-width: 5rem;
  max-width: 10rem;
  margin: 0;
  margin-bottom: var(--gap);
  object-fit: cover;
}

#item-img-txt {
  font-size: 0.85rem;
  display: grid;
  align-items: center;
  grid-template-columns: 0fr 1fr;
  transform: translateX(-0.15em);
  font-style: italic;
}

#item-submit-input {
  margin-top: calc(var(--gap) * 6);
}
